services:
  db:
    image: postgres:15-alpine
    container_name: db
    restart: unless-stopped
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    volumes:
      - pg_data:/var/lib/postgresql/data
    networks:
      - local
    ports:
      - "5432:5432"

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8888:8888"
    depends_on:
      - db

volumes:
  pg_data:

networks:
  local: